* {box-sizing: border-box;}
html,body{
  height:100%;
  margin:0;
  padding:0;
}
body {
  background: fixed url(dog.svg) right bottom/40% no-repeat,
              fixed url(background.svg) center/cover no-repeat;
}
.wrapper{
  min-height:100%;
}
header {
  background: rgba(170, 83, 41, 1);
  text-align: center;
}
header a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .3s ease-in-out;
}

.admin_panel {
  background: rgba(29, 31, 28, 1);
}

.logo {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo img{
  height: 80px;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
    font-weight: bold;
    color: white;
  padding: 10px 30px;
}
.topmenu li a:hover {color: rgba(235, 226, 198, 1);}
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: rgba(29, 31, 28, 1);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
  opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(29, 31, 28, 1);
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
  opacity: 1;
    transform: scaleY(1);
}
.logout {
display: block;
position: absolute;
right: 0;
padding: 10px;
font-size: 14px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
color: white;
}

.logout input {
  display: inline-block;
  text-decoration: none;
  padding: 10px 13px;
  transition: 0.4s ease-in-out;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  background: rgba(170, 83, 41, 1);
}
.logout input:hover {
  color: rgba(170, 83, 41, 1);
  background: white;
  border-color: white;
}
